@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  padding: 0;
  margin: 0;
  overflow: scroll;
}
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #2a2730;
}

.logIn {
  width: 600px;
  height: 350px;
  border: 10px solid #FF6767;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logIn input{
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 5px solid #093577;
  background-color: transparent;
  padding-left: 10px;
  color: white;
  font-size: 15px;
}

.logIn input:focus{
  outline: none;
}

.logIn button{

  width: 200px;
  height: 50px;
  border: none;
  background-color:#FF6767 ;
  color: white;
  font-size: 16px;
  margin-top: 45px;
}
.head
{
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
.logIn button:hover{
  cursor: pointer;
  background-color: #037edc;
}

.chatContainer {
  width: 600px;
  height: 350px;
  border: 10px solid #FF6767;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.chatContainer .messages {
  flex: 80%;
  width: 100%;
  padding-left: 20px;
}
.chatContainer .messageInputs {
  flex: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.chatContainer .messageInputs input{
  flex: 80%;
  height: calc(100% -5px);
  border: none;
  border-top: 5px solid;
  padding-left: 20px;
  font-size: 20px;

}

.chatContainer .messageInputs button{
  flex: 20%;
  height: 100%;
  background-color: #2a2730;
  border: none;
  color: #ff6767;
  font-size: 18px;
  
}

.messageContainer {
  display: flex;
  width: calc(100% - 30px);
 
}

.messageContainer h1{
  color: #2a2730;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

#You{
  justify-content: flex-start;
}

#Other {
  justify-content: flex-end;
}

#Other .messageIndividual {
  background-color: #FF6767;
  color: black;
}
.messageIndividual {
  width: 220px;
  height: 120px;
  border-radius: 20px;
  display: grid;
  place-items: center;
  background-color: #FF3D68;
  opacity: 0.9;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-right: 10px;
  margin-top: 20px;

}